/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech) (5.0.0).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.comcast.lcs.controller;

import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import com.comcast.lcs.dto.LcsRequest;
import com.comcast.lcs.dto.LcsResponse;

public interface V1Api {

    /**
     * POST /v1/lcs
     * Find the longest common substring from the given list of strings. 
     *
     * @param lcsRequest setOfStrings needs to be analyzed.
     * @return LCS is found. (status code 200)
     *         or Bad Request (status code 400)
     *         or No match found. (status code 404)
     *         or Server Error (status code 500)
     */
    @PostMapping(
        value = "/v1/lcs",
        produces = { "application/json" },
        consumes = { "application/json" }
    )
    LcsResponse findLcs(@RequestBody final LcsRequest lcsRequest);
}
